.content__section {
	margin-bottom: 57px;
	background-color: @color-back;
}

.content__wrapper {
	max-width: @width-max;
	margin: auto;
	padding-top: 65px;
	box-sizing: border-box;
	text-align: left;
}

.content__head-first {
	.title();
	font-size: 18px;
}

.content__head-wrap {
	margin-bottom: 50px;
}

.content__text-first {
	.text();
	margin-bottom: 35px;
}

.content__btn {
	.button();
	margin-bottom: 65px;
	background-color: @color-btn;
}

.content__picture {
	max-width: @width-max;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 70px;
}

.content__block {
	max-width: 180px;
	text-align: left;
}

.content__img-wrap {
	margin-bottom: 40px;
}

.content__img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.content__head {
	.title();
	margin-bottom: 47px;
}

.content__text {
	.text();
	margin-bottom: 30px;
}

.content__link {
	.text();
	font-size: 14px;
	text-decoration: none;
	color: inherit;
}

.content__link:hover {
	color: @color-main;
}

