.footer-block__main {
	max-width: @width-max;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 23px 0;
}

.footer-block__text {
	.text();
}

.footer-block__icons {
	display: flex;
}

.footer-block__wrap {
	
}
