.pic {
	margin-bottom: 41px;
}

.pic__main {
	max-width: @width-max;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.pic__block {
	max-width: 265px;
	text-align: left;
}

.pic__img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.pic__img-wrap {
	margin-bottom: 40px;
}

.pic__head {
	.title();
	margin-bottom: 55px;
	font-size: 18px;
}

.pic__text {
	.text();
	margin-bottom: 35px;
}

.pic__btn {
	.button();
	margin-bottom: 36px;
}
